@import "../../styles/variables";

.podioSearch__results{
  text-align: left;
  margin: 0 auto;
  max-width: 400px;
}
.psr{
  text-decoration: none;
  color: #000;
  display: block;
  margin-bottom: $margeStandard;
}
.psr__label{
  display: inline-block;
  color: #fff;
  background: $podioBlue;
  padding: 7px 10px;
  border-radius: 2px;
  vertical-align: top;
  margin-bottom: 10px;
  font-size: .9em;
}
.psr__desc{
  display: block;
}
.psr__title{
  display: inline-block;
  margin: 0 0 10px 0 ;
  line-height: 1em;
  font-size: 1.3em;
}
.psr__highlight{
  display: block;
  color: #999;
  margin: 0;
}
