@import './variables.scss';

.flatbutton{
  border-radius: 2px;
  font-size: 12px;
  font-size: 1.2rem;
  box-sizing: border-box;
  padding: 10px 30px;
  display: inline-block;
  cursor: pointer;
  border: 0;
  font-weight: 700;
}
.flatbutton.green {
  background-color: $podioSuccess;
  color: #fff;
}
.flatbutton.blue {
  background-color: $podioBlue;
  color: #fff;
}
.flatbutton.silver {
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  color: #444;
  line-height: 22px;
}
.flatbutton.red {
  background-color: $podioError;
  color: #fff;
}