@import "animations";

form .hasPlaceholder label{
  display: none;
}
form input.text{
  border: none;
  border-bottom: 1px solid $podioDarkGrey;
  background: none;
  color: $podioDarkGrey;
  padding: 12px 0;
  outline: none;
  width: 100%;
  font-size: 1.5em;
}
.fieldWrap{
  margin-bottom: $margeStandard;
}

.loading form {

  button {
    display: none;
  }

  &:after {
    content: "";
    display: block;
    margin: 0 auto;
    @include loader;
  }
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background: none;
}