//Colors
$bodyBg: #e9e9e9;
$podioBlue: #468fb9;
$podioSuccess: #5FC660;
$podioError: #d94850;
$podioLightGrey: #ddd;
$podioDarkGrey: #aaa;

$colorLoaderPrincipal: $podioBlue;
$colorLoaderSecondaire: #fff;

//Sizes
$margeStandard: 20px;
$logoSize: 32px;