@import "../../styles/variables";

html {
  color: #444;
  font-family: arial,sans-serif;
  font-size: 62.5%;
  background: $bodyBg;
  min-height: 100%;
  position: relative;
}
body{
  font-size: 1.3rem;
  background: #e9e9e9;
  margin: 0;
  color: $podioDarkGrey;
}

.hiPodio{
  /*background: url('../images/podio_icon.png');*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  max-width: 320px;
  min-width: 250px;
  min-height: 100vh;
  position: relative;
  padding: $margeStandard;
}
.hiPodio__imgwrap{
  background: #fff;
  padding: $margeStandard;
  border-radius: 100%;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  display: inline-block;
  width: $logoSize;
  height: $logoSize;
  position: relative;
  flex: 0 0;

  > img {
    width: $logoSize;
    height: auto;
  }
}

.hiPodio__imgwrap::after{
  content: '';
  border: 1px solid $podioLightGrey;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1px;
  left: -1px;
  border-radius: 100%;
}
.hiPodio__imgwrap--type3::after{
  border-color: $podioError;
}