@import "../../styles/variables";
@import "../../styles/form";
@import "../../styles/animations";

.podioSearch{
  position: relative;
  flex: 1 0;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
.podioSearch__search-zone{
  position: relative;
  margin: auto;
}
.podioSearch__voice-trigger {
  position: absolute;
  top: 15px;
  background: transparent url('microphone.png') center center no-repeat;
  background-size: 16px 22px;
  cursor: pointer;
  border: none;
  font-size: 0;
  outline: none;
  right: 0;
  height: 30px;
}
.podioSearch__results{
  padding: $margeStandard 0;
  box-sizing: border-box;
}
.podioSearch__results-summary{
  display: none;
  color: #000;
  margin-bottom: $margeStandard;
}
.podioSearch__results-summary-count, .podioSearch__results-summary-term{
  font-weight: bold;
}
.podioSearch__results-summary-for{
  margin: 0 5px;
}
.podioSearch .help{
  width: 100%;
  margin-top: auto;
}

.listening{
  .podioSearch__text-trigger{
    color: $podioSuccess;
    border-bottom-color: $podioSuccess;
  }
  .podioSearch__text-trigger::-webkit-input-placeholder{
    color: $podioSuccess;
  }
  .podioSearch__text-trigger::-moz-placeholder{
    color: $podioSuccess;
  }
  .podioSearch__text-trigger:-moz-placeholder{
    color: $podioSuccess;
  }
  .podioSearch__text-trigger:-ms-input-placeholder{
    color: $podioSuccess;
  }
  .hiPodio__imgwrap:after{
    animation: pulsate 1.6s ease-out infinite;
  }
}

.podioSearch.searching .podioSearch__results:after{
  content: "";
  display: block;
  margin: 0 auto;
  @include loader;
}

$reducedWidth: 24px;

.hiPodio.hasSearch{
  padding: 0 0 $margeStandard;

  .hiPodio__imgwrap{
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 5px;
    width: $reducedWidth;
    height: $reducedWidth;
    padding: 5px;
    margin-bottom: 0;

    img{
      width: $reducedWidth;
    }
  }
  .podioSearch__search-zone{
    margin: 0;
    width: 100%;
    background: #fff;
  }
  .podioSearch__voice-trigger {
    top: 10px;
    right: 10px;
  }
  .podioSearch__text-trigger{
    width: calc(100% - 85px);
    float: right;
    clear: both;
    border-bottom: none;
    margin-right: $margeStandard;
    position: relative;
    z-index: 2;
  }
  .podioSearch__results{
    display: block;
    width: 100%;
    padding: $margeStandard;
    clear: both;
  }
  .podioSearch__results-summary{
    display: block;
  }
}