@import "../../styles/variables";
@import "../../styles/buttons";
@import "../../styles/form";

.hiPodio__stepPodioAuth{
  justify-content: center;

  h2{
    color: $podioBlue;
    font-weight: bold;
    font-size: 2em;
    display: inline-block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
  }
  h3{
    margin-top: 0;
    color: $podioBlue;
    font-weight: lighter;
    margin-bottom: $margeStandard;
  }
}

.hiPodioAuth.error form{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.hiPodio__imgwrap.hiPodio__imgwrap--type2::after{
  border-color: $podioSuccess;
}